.container {
    width: 286px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--white-color);
    border-radius: 15px;
    text-align: center;
}

@media (min-width: 820px) {
 .container{
    align-self: center;
 }   
}
